@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-surface text-dark font-sans;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  /* Scrollbar personalizado */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}
